Repository dglazkoff/leti-web_kurs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "linters": {
    "src/**/*.js": [
      "prettier --write",
      "eslint --fix",
      "git add"
    ],
    "src/**/*.pcss": [
      "stylelint"
    ]
  }
}

refactor project
  .gitignore
  README.md
Due: none

Delete settings.json
  .vscode/settings.json
Due: none

change rocket speed
  src/demo-feature/index.js
Due: prettier --write, eslint --fix

add rotation
  src/demo-feature/entities.js
  src/demo-feature/eventsManager.js
  src/demo-feature/gameManager.js
  src/demo-feature/index.js
  src/demo-feature/map.json
  src/demo-feature/mapManager.js
  src/demo-feature/physicManager.js
  src/demo-feature/spriteManager.js
  src/demo-feature/sprites.json
  static/img/bullet_down.png
  static/img/bullet_left.png
  static/img/bullet_right.png
  static/img/bullet_up.png
  static/img/ground.png
  static/img/groundx32.png
  static/img/rocket.png
  static/img/rocketx32.png
  static/img/spritesheet.png
  static/img/tank_downx32.png
  static/img/tank_leftx32.png
  static/img/tank_rightx32.png
  static/img/tank_upx32.png
  static/img/tankx32.png
Due: prettier --write, eslint --fix

add bot
  src/demo-feature/entities.js
  src/demo-feature/gameManager.js
  src/demo-feature/index.js
  src/demo-feature/map.json
  src/demo-feature/mapManager.js
  src/demo-feature/physicManager.js
Due: prettier --write, eslint --fix

add new level
  src/demo-feature/entities.js
  src/demo-feature/eventsManager.js
  src/demo-feature/gameManager.js
  src/demo-feature/index.js
  src/demo-feature/map1.json
  src/demo-feature/map2.json
  src/demo-feature/mapManager.js
  static/index.html
Due: prettier --write, eslint --fix

add score table
  .stylelintrc
  package.json
  postcss.config.js
  simple_api/api/index.js
  simple_api/api/mock.js
  simple_api/package.json
  simple_api/score.json
  simple_api/server.js
  simple_api/yarn.lock
  src/demo-feature/entities.js
  src/demo-feature/gameManager.js
  src/demo-feature/index.js
  src/demo-feature/index.pcss
  src/demo-feature/map2.json
  src/demo-feature/mapManager.js
  src/demo-feature/physicManager.js
  src/demo-feature/spriteManager.js
  src/demo-feature/spritesx8.json
  static/img/bullet_downx8.png
  static/img/bullet_leftx8.png
  static/img/bullet_rightx8.png
  static/img/bullet_upx8.png
  static/img/spritesheetx8.png
  static/index.html
  webpack/dev.js
  yarn-error.log
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

end all managers
  simple_api/score.json
  simple_api/server.js
  src/demo-feature/entities.js
  src/demo-feature/gameManager.js
  src/demo-feature/index.js
  src/demo-feature/index.pcss
  src/demo-feature/soundManager.js
  static/index.html
  static/sound/die.mp3
  static/sound/loose.mp3
  static/sound/shot.mp3
Due: prettier --write, eslint --fix, stylelint
